!pip show pandas

In [21]:
import pandas as pd
import numpy as np

# Чтение содержимого файлов
## train_action.pq

In [16]:
df = pd.read_parquet(r"task\train_actions.pq")
df

,user_id,loc_user_id,action,date,products,pageId
0,6fd49b56-8cc6-11ed-86e0-002590c0647c,c6e357dc-121d-449d-a744-e9a0b56c2380,7,2024-09-07 00:00:04,[],2571824865
1,6fd49b56-8cc6-11ed-86e0-002590c0647c,c6e357dc-121d-449d-a744-e9a0b56c2380,7,2024-09-07 00:00:08,[],3834364438
2,f9c498ec-5d3b-11ef-86e0-002590c0647c,120c9064-1131-4dc3-8048-44184531b42e,7,2024-09-07 00:00:08,[],2448628415
3,59386b5c-e64f-11ec-8086-002590c82437,f0745572-893f-4e50-bc52-5af47badff5a,7,2024-09-07 00:00:11,[],3875013967
4,badbd396-6cab-11ef-86e0-002590c0647c,73423d85-d47c-4332-8155-5200615302b5,7,2024-09-07 00:00:11,[],3025531174
...,...,...,...,...,...,...
6580931,cfdfd33e-3f63-11ea-86e0-002590c0647c,43cbc55c-afaa-489f-973f-530d36c7f540,1,2024-09-28 23:59:54,[5494144],3195814142
6580932,e48780d6-fd99-11ee-86e0-002590c0647c,a67f67ca-3f52-4a42-b613-7e2e78416125,7,2024-09-28 23:59:54,[],2659320286
6580933,4b8ef1b8-d821-11ee-86e0-002590c0647c,27e4705f-b407-46e6-aad5-1da436b2763e,7,2024-09-28 23:59:55,[],2898485070
6580934,6b7ba8f2-db89-11ee-9b7b-002590c82436,b5eb497d-0126-497e-9bfb-f30695fe687f,7,2024-09-28 23:59:55,[],2094289076
6580935,a163af5e-048b-11ed-86e0-002590c0647c,1b1c72e6-8841-486e-bfdb-db2647ccfcc2,2,2024-09-28 23:59:59,[6376045],44198962

## catalog_vector_mapping.pq

In [17]:
df = pd.read_parquet(r"task\catalog_vector_mapping.pq")
df

      product_id  vector_id
0        1025536          0
1        1025614          1
2        1025656          2
3        1025659          3
4        1025668          4
...          ...        ...
89478     991072      89478
89479     991096      89479
89480     991189      89480
89481     991195      89481
89482     991210      89482

[89483 rows x 2 columns]

## stokman_catalog_preprocessed.pq

In [20]:
df = pd.read_parquet(r"task\stokman_catalog_preprocessed.pq")
df

,add_date,shop_id,product_id,category_id,price,title,old_price
0,2024-09-30 03:07:09,350,1025536,8922,6990,6048 48557 44342 53515 17614,6990
1,2024-09-19 03:07:08,350,1025614,10600,330,42548 40244 23485 10853 6545 2343,330
2,2024-09-30 03:07:09,350,1025656,231,13240,14034 42002 48557 56089 46836 55620 50785,26490
3,2024-09-30 03:07:09,350,1025659,14546,7550,32640 50164 48557 25314 23255 42146,12590
4,2024-09-30 03:07:09,350,1025668,1949,1290,51789 48557 56089 20149,1290
...,...,...,...,...,...,...,...
89478,2024-09-30 03:07:09,350,991072,1202,3350,38730 46732 9606 52422 27949,4790
89479,2024-09-30 03:07:09,350,991096,40321,1990,38730 46732 4703 56089 57427 492,1990
89480,2024-09-30 03:07:09,350,991189,40330,990,38730 46732 4703 56089 5491 52045 25810,990
89481,2024-09-30 03:07:09,350,991195,40321,1390,54876 9141 48557 54856 56089 492,1390
89482,2024-03-01 17:08:16,350,991210,1844,380,16712 48557 56089 5290 56684 12218,1290

## vectors.npz

In [31]:
vector_df = np.load(r"task\vectors.npz", mmap_mode='r')
print(vector_df) # определение ключей в архиве
vector_df["arr_0"]

NpzFile 'task\\vectors.npz' with keys: arr_0

array([[-0.08324337,  0.04815416,  0.02190771, ..., -0.10129138,
         0.10685107,  0.01686576],
       [-0.02963861,  0.04602781,  0.02194989, ...,  0.00187646,
         0.07886326, -0.0128662 ],
       [-0.02177078,  0.09355269, -0.05079331, ..., -0.18119182,
        -0.02776698,  0.05766246],
       ...,
       [-0.03710721,  0.10451359,  0.00295478, ..., -0.10530926,
         0.0174435 ,  0.05825856],
       [-0.03749985,  0.07794964,  0.01027504, ..., -0.13415202,
         0.0544003 ,  0.04671648],
       [-0.00858539,  0.01796866,  0.03999054, ..., -0.04932305,
         0.06629392,  0.09507496]], dtype=float32)

# (EDA) Exploratory Data Analysis - Исследовательский анализ данных.
## Последовательность анализа:

    1) Поиск пропусков в данных
    2) Оценка параметра распределения параметров, то есть какие это распределения (равномерное и тд)
    3) Корреляция. Рассмотреть как корреляцию между самими парметрами (какие из них можно отбросить), так и на корреляцию между предсказываемыми значениями

In [ ]:
# стр.15